{% extends "base.html.j2" %}

{%block title%}Linux{%endblock%}

{% block obsah %}

<img src="{{ url_for('static', filename='LINUX-LOGO.png') }}" alt=" width="300" height="400"">

<p> Linux nebo GNU/Linux (viz GNU/Linux kontroverze) je označení pro svobodný a otevřený počítačový operační systém, který je založený na linuxovém jádru. Linuxové systémy jsou šířeny v podobě distribucí, které je možné nainstalovat nebo používat bez instalace (tzv. live CD). Používané licence umožňují systém zdarma a velmi volně používat, distribuovat (kopírovat, sdílet) i upravovat.[pozn. 1] Tím se odlišuje od proprietárních systémů (např. Windows či macOS), za které je nutné platit a dodržovat omezující licence. </p>

{% endblock obsah %}

