{% extends "base.html.j2" %}

{%block title%}Mac OS{%endblock%}

{% block obsah %}

<img src="{{ url_for('static', filename='alogo.png') }}" alt=" width="300" height="400"">

<p> macOS (anglická výslovnost [ˌmækouˈes], česká [mek os]; ve verzi 7.5–9.2 Mac OS, ve verzi 10.0–10.7 Mac OS X, ve verzi 10.8–10.12 OS X) je operační systém pro počítače Macintosh společnosti Apple. </p>

{% endblock obsah %}

