{% extends "base.html.j2" %}

{%block title%}Windows{%endblock%}

{% block obsah %}

<img src="{{ url_for('static', filename='Winlogo.png') }}" alt=" width="300" height="300"">

<p> Windows je v informatice označení pro několik různých operačních systémů od firmy Microsoft. Všechny mají grafické uživatelské rozhraní, avšak liší se použitým jádrem systému, úrovní podpory multitaskingu (současného běhu více úloh najednou) i používanými knihovnami a účelem použití.

První verze Windows 1.0 byla na trh uvedena pro systém MS-DOS v roce 1985, avšak masového rozšíření dostál až Windows 95. V současné době jsou aktuální klientské verze Windows 8.1 Windows 10, a Windows 11. V případě serverových verzí: Windows Server 2008, 2012, 2016 a 2019 a 2022. </p>

{% endblock obsah %}

