h1 {
    color: cadetblue;
}

p {
    color: rgb(236, 98, 33);
}



.message {
    width: 50%;
    border: solid black 2px;
    padding: 1em;
    background-color: lightgray;
}

.pass {
    color: green;
}
.err {
    color: red;
}